<header class="">
  <div class="container max-width-4 mx-auto">
    <div class="clearfix">
      <div class="sm-col sm-col-6 md-col-7 lg-col-8 px2">
        {% if page.layout == 'home' %}
          <h1 id="logo" class="m0"><a href="{{ site.baseurl }}" title="{{ site.title }}"><img src="{{ '/assets/img/brooklynrail.png' | relative_url }}" alt="{{ site.title }}"></a></h1>
        {% else %}
          <h2 id="logo" class="m0"><a href="{{ site.baseurl }}" title="{{ site.title }}"><img src="{{ '/assets/img/brooklynrail.png' | relative_url }}" alt="{{ site.title }}"></a></h2>
        {% endif %}
      </div>
    </div>
  </div>
</header>
