{% assign all_pages = site.pages | sort: 'order' %}
{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign slug = url_parts | last %}
{% assign section_url = page.url | replace: slug %}
{% assign section_id = section_url | replace: '/','' %}

<ul class="usa-sidenav">
{% for item in include.nav %}
  <li class="usa-sidenav__item">
    <a class="{% if item.slug == section_id %}usa-current{% endif %}" href="{{ item.slug | absolute_url }}" title="{{ item.text }}">{{ item.text }}</a>

      {% if section_id == item.slug %}
      <ul class="usa-sidenav__sublist">

      {% for node in all_pages %}
        {% if node.url contains section_url %}
          {% assign node_url_parts = node.url | split: '/' %}
          {% assign node_url_parts_size = node_url_parts | size %}
          {% assign filename = node_url_parts | last %}

          {% if url_parts_size == node_url_parts_size and filename != 'index' %}
            <li class="usa-sidenav__item">
              <a class="{% if node.url contains slug %}usa-current{% endif %}" href='{{ node.url | absolute_url }}'>{{node.title}}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>

    {% endif %}

  </li>
{% endfor %}
</ul>


<!-- Root Pages -->
<ul class="secondary_nav usa-sidenav">
{% for root_page in all_pages %}
  {% assign url_parts = root_page.url | split: '/' %}
  {% assign url_parts_size = url_parts | size %}

  {% if url_parts_size == 2 %}
  <li class="usa-sidenav__item">
    <a class="{% if root_page.url contains slug %}usa-current{% endif %}" href='{{ root_page.url | absolute_url }}'>{{ root_page.title }}</a>
  </li>
  {% endif %}

{% endfor %}
</ul>
