
// Article

article{
  margin-bottom: 80px;
  header{
    h1{
      margin: 0;
      font-family: $sans;
      font-weight: 700;
      font-size: 36px;
      font-size: 2.25rem;
    }
    h6{
      margin: 0 0 1em 0;
      font-family: $sans;
      font-weight: 300;
      font-size: 1.2rem;
    }
  }
}
