
// Headings

code{
  padding: .1rem .3rem;
  color:darkred;
  background: #efefef;
  border-radius: 2px;
}

pre{
  padding: 1rem;
  background: #efefef;
  border-radius: 2px;
}
pre code{
  padding: 0;
}
