
// Article

.entry{
  .entry-head{
    margin-bottom: 3em;
    h1{
      font-size: 36px;
    }
  }
  .entry-content{
    a{
      color: blue;
    }
  }
}



.louis{
  color: #00b680;
  li a{
    background-color: #ffed00;
  }
  li a:hover{
    background-color: red;
  }
  li a:visited{
    background-color: blue;
  }
}
