// Navigation

nav{
  padding: 1em 0;
  border-top: 2px #000 solid;
  font-size: 14px;
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
    a,
    a:hover{
      color: $black;
    }
    .collection{
      margin-bottom: 1.5em;
      padding:0;
      span{
        margin-bottom: 5px;
        display: block;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 12px;
      }
    }
  }
}
