
// Settings


// Colors
$white: #fff;
$black: #000;
$bg: #f3f3f3;
$base_type: 16px;


// Type

$serif: Times, serif;
$sans: 'Libre Franklin', sans-serif;
$mono: "Roboto Mono", monospace;
$base_color: $black;



// - - - - - - - - - - - - -

body{
  color: $base_color;
  font-size: $base_type;
  font-family: $sans;
  background-color: $bg;
}

a,
a:hover{
  color: $black;
}
