
// Settings


// Colors
$white: #fff;
$black: #000;
$bg: #fff;
$base_type: 16px;
$link: #0056b3;

// Type

$serif: Times, serif;
$sans: 'Libre Franklin', sans-serif;
$mono: "Roboto Mono", monospace;
$base_color: $black;



// - - - - - - - - - - - - -

body{
  color: $base_color;
  font-size: $base_type;
  font-family: $sans;
  background-color: $bg;
}

a,
a:hover{
  color: $link;
}
