<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="paper">
      {% include header.html %}

      <main id="main-content" class="usa-layout-docs usa-section">
        <div class="grid-container grid-container-widescreen">
          <div class="grid-row tablet:grid-gap-6">
            <div class="grid-col-12 tablet:grid-col-2">

              <aside class="usa-layout-docs__sidenav">
                <nav aria-label="Secondary navigation">
                  {% include nav.html nav=site.data.nav.main_nav %}
                </nav>
              </aside>

            </div>
            <div class="grid-col-12 tablet:grid-col-10">
              {{ content }}
            </div>
          </div>
        </div>
      </main>

      {% include footer.html %}

    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="{{ "/assets/js/uswds.min.js" | relative_url }}"></script>

  </body>
</html>
