<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="paper">
      {% include header.html %}

      <main>
        <div class="grid-container grid-container-desktop-lg">
          <div class="grid-row grid-gap-4">
            <div class="grid-col-12 tablet:grid-col-2">
              {% include main_nav.html %}
            </div>
            <div class="grid-col-12 tablet:grid-col-10">
              {{ content }}
            </div>
          </div>
        </div>
      </main>

      {% include footer.html %}
      
    </div>
  </body>

</html>
