---
layout: default
---

<header>
  <div class="grid-container grid-container-widescreen">
    <div class="grid-row tablet:grid-gap-6">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <img src="{{ '/assets/img/br-diversity.svg' | relative_url }}" alt="{{ site.title }}">
        <h1><a href="{{ site.baseurl }}" title="Home" aria-label="Home">{{ site.title }}</a></h1>
        {% if page.deck %}
        <div class="deck usa-intro">{{ page.deck | escape }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<main id="main-content" class="usa-layout-docs usa-section">
  <div class="grid-container grid-container-widescreen">

    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-2 tablet:grid-offset-5">

        {{ content }}

        <section>
          <ul>
          {% for item in site.data.nav.main_nav %}
            <li>
              <a href="{{ item.slug | absolute_url }}" title="{{ item.text }}">{{ item.text }}</a>
            </li>
          {% endfor %}
          </ul>
        </section>

        <section class="links">
          <ul>
          {% for item in site.data.domains.domains %}
            <li>
              <a href="{{ item.href }}" title="{{ item.text }}">{{ item.text }}</a>
            </li>
          {% endfor %}
          </ul>
        </section>


      </div>
    </div>

  </div>
</main>
