---
layout: default
---

<article>
  <div class="container max-width-4 mx-auto">
    <div class="clearfix">
      <div class="sm-col sm-col-6 md-col-7 lg-col-8 px2">

        <header class="">
          <h6><a href="" title="">In Conversation</a></h6>
          <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>
          <div class="entry-meta">
            <p>In <a href="" title="">Issue #{{ page.issue }}</a> on
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
                {{ page.date | date: date_format }}
              </time>
            </p>
            {% if page.author %}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
            {% endif %}
          </div>
        </header>

        <div class="entry-content">
          {{ content }}
        </div>

      </div>
    </div>
  </div>
</article>
